.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5rem 2rem;
    min-height: 100vh;
  
    max-width: 22rem;
    margin: 0 auto;
  }
  .login-container > h2 {
    margin-top: 0;
  }
  .login-container > label {
    align-self: flex-start;
  }
  .login-container > input {
    margin: 5px 0 20px 0;
    width: 100%;
    padding: 5px;
  }
  .auth-btn {
    width: 100%;
    padding: 10px;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border: none;
    margin-top: 10px;
  }
  .auth-btn:hover {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    cursor: pointer;
    font-weight: bold;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(0, 0, 0) 0px 0px 0px 2px;
  }
  .error-msg {
    color: red;
  }
  .move-to-signup-text {
    font-size: 1rem;
    align-self: flex-start;
  }
  .move-to-signup-text > a {
    color: #0000ee;
    text-decoration: underline;
  }