.logout-container {
    display: flex;
    min-height: 100vh;
  
    align-items: center;
    flex-direction: column;
  }
  .logout-container > h1 {
    margin-top: 8rem;
  }
  .logout-container > a {
    color: blue;
    text-decoration: underline;
  }