.heading-container {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid;
  }
  
  .heading-container > button {
    border: none;
    background-color: var(--background-color);
    cursor: pointer;
    font-style: italic;
    text-decoration: underline;
  }
  
  .filters-container {
    accent-color: var(--primary-color);
    border-right: 5px solid var(--primary-color);
    padding: 0 1rem;
  }
  .filters-container input {
    cursor: pointer;
  }
  .filters-container li {
    margin-bottom: 5px;
  }
  .rating-labels {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    width: 100%;
    font-size: 15px;
  }
  input[type="range"] {
    width: 100%;
  }
  .rating-filter-container {
    margin-right: 1rem;
  }
  
  @media screen and (width<=1024px) {
    .filters-container {
      position: fixed;
      height: 100%;
      width: 100vw;
      z-index: 3;
      background-color: white;
    }
    .pseudo::before {
      content: "Apply";
      display: inline-block;
      font-size: 1.2rem;
      background-color: var(--primary-color);
      color: var(--secondary-color);
      margin-top: 1rem;
      padding: 10px 15px;
      border-radius: 10px;
    }
    .filters-container h4 {
      margin-top: 3rem;
    }
  }