.product-card {
    position: relative;
    border-radius: 1rem;
    padding: 1rem;
    width: 16rem;
    height: max-content;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
  .product-card:hover {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
    cursor: pointer;
  }
  
  .product-card__img {
    width: 100%;
    height: 15rem;
    mix-blend-mode: multiply;
  }
  .product-name {
    margin-bottom: 0;
    height: 3rem;
  }
  .rating-star {
    display: flex;
    color: var(--secondary-color);
    background-color: var(--primary-color);
    padding: 5px;
    border-radius: 10px;
  }
  .rating-num {
    font-size: 1rem;
  }
  
  .heading-rating-container {
    display: flex;
    align-items: center;
    gap: 1rem;
    justify-content: space-between;
  }
  .price-discount-container {
    display: flex;
    justify-content: space-between;
    font-size: 1rem;
    align-items: center;
  }
  .old-price {
    text-decoration: line-through;
    margin-left: 10px;
  }
  .current-price,
  .discount {
    font-weight: bold;
  }
  .discount {
    color: #388e3c;
  }
  .add-to-cart-btn {
    width: 100%;
    padding: 10px;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border: none;
    border-radius: 5px;
  }
  .add-to-cart-btn:hover {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    cursor: pointer;
    font-weight: bold;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(0, 0, 0) 0px 0px 0px 2px;
  }
  .add-to-wishlist-btn {
    position: absolute;
    right: 0;
    top: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
    padding: 5px;
    z-index: 2;
  }
  #disable-cursor {
    cursor: no-drop;
  }